<div id="sidebar">
    <a href="/#!/stats/dashboard">
        <i class="fas fa-chart-line"></i>
        <span>Stats</span>
    </a>
    <a href="/#!/stats/connect">
        <i class="fab fa-connectdevelop"></i>
        <span>Link Platform</span>
    </a>
    <a href="/#!/stats/campaigns">
        <i class="fab fa-adn"></i>
        <span>Campaigns</span>
    </a>
    <a href="/#!/stats/deeplinks">
        <i class="fas fa-link"></i>
        <span>Deep link</span>
    </a>
    <a href="/#!/stats/impressions">
        <i class="fas fa-eye"></i>
        <span>Impressions</span>
    </a>
    <a href="/#!/stats/installs">
        <i class="fab fa-app-store"></i>
        <span>Installs</span>
    </a>
    <a href="/#!/stats/purchases">
        <i class="fas fa-wallet"></i>
        <span>Purchases</span>
    </a>
</div>
